@charset "utf-8";
/* CSS Document */


#tampilantabel {
    font-family: "Trebuchet MS", Arial , Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tampilantabel td, #tampilantabel th {
    border: 1px solid #808080;
    padding: 8px;
}

#tampilantabel tr:nth-child(even){background-color: #fff5ee;}
#tampilantabel tr:hover {background-color: #edc7bc;}

#tampilantabel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #edc7b7;
    color: #ac3b61;
}

input[type=text],input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #edc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text],input[type=password]:focus {
    background-color: #edc7b7;
    color: #ac3b61;
}

select {
    background-color: #edc7b7;
    color: #ac3b61;
}

input[type=submit],input[type=button], input[type=reset] {
    background-color: #edc7b7;
    border: none;
    color: #ac3b61;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px 8px;
    cursor: pointer;
    border-radius: 4px;
    float: center;
}

input[type=submit]:hover {
    background-color: #edc7b7;
}
img {
    border-radius: 80%;
}

